/*Подключаем шрифты*/
/*Cuprum*/
@font-face {
  font-family: 'Cuprum-Regular';
  src: url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.eot');
  src: url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.woff') format('woff'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.svg#Cuprum-Regular') format('svg'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Bold';
  src: url('../fonts/cuprum/CuprumBold/Cuprum-Bold.eot');
  src: url('../fonts/cuprum/CuprumBold/Cuprum-Bold.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.woff') format('woff'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.svg#Cuprum-Bold') format('svg'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Italic';
  src: url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.eot');
  src: url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.woff') format('woff'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.svg#Cuprum-Italic') format('svg'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-BoldItalic';
  src: url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.eot');
  src: url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.woff') format('woff'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.svg#Cuprum-BoldItalic') format('svg'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*PT Sans*/
@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/ptsans/PTSansRegular/PTSans-Regular.woff') format('woff'),
       url('../fonts/ptsans/PTSansBold/PTSans-Web-Regular.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansRegular/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Regular';
  src: url('../fonts/ptsans/PTSansRegular/PT_Sans-Web-Regular.eot');
  src: url('../fonts/ptsans/PTSansRegular/PT_Sans-Web-Regular.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansRegular/PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/ptsans/PTSansBold/PTSans-Bold.woff') format('woff'),
       url('../fonts/ptsans/PTSansBold/PTSans-Bold.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansBold/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Bold';
  src: url('../fonts/ptsans/PTSansBold/PT_Sans-Web-Bold.eot');
  src: url('../fonts/ptsans/PTSansBold/PT_Sans-Web-Bold.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansBold/PT_Sans-Web-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url('../fonts/ptsans/PTSansItalic/PTSans-Italic.woff') format('woff'),
       url('../fonts/ptsans/PTSansItalic/PTSans-Italic.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansItalic/PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Italic';
  src: url('../fonts/ptsans/PTSansItalic/PT_Sans-Web-Italic.eot');
  src: url('../fonts/ptsans/PTSansItalic/PT_Sans-Web-Italic.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansItalic/PT_Sans-Web-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-BoldItalic';
  src: url('../fonts/ptsans/PTSansBoldItalic/PTSans-BoldItalic.woff') format('woff'),
       url('../fonts/ptsans/PTSansBoldItalic/PTSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansBoldItalic/PTSans-BoldItalic.svg#PTSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-BoldItalic';
  src: url('../fonts/ptsans/PTSansBoldItalic/PT_Sans-Web-BoldItalic.eot');
  src: url('../fonts/ptsans/PTSansBoldItalic/PT_Sans-Web-BoldItalic.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansBoldItalic/PT_Sans-Web-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*А теперь стили*/
body {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans";
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum";
  text-transform: uppercase;
}

.popular-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum";
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "Cuprum";
  text-transform: uppercase;
}
