/*Подключаем шрифты*/
/*Cuprum*/
@font-face {
  font-family: 'Cuprum-Regular';
  src: url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.eot');
  src: url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.woff') format('woff'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.svg#Cuprum-Regular') format('svg'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Bold';
  src: url('../fonts/cuprum/CuprumBold/Cuprum-Bold.eot');
  src: url('../fonts/cuprum/CuprumBold/Cuprum-Bold.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.woff') format('woff'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.svg#Cuprum-Bold') format('svg'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Italic';
  src: url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.eot');
  src: url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.woff') format('woff'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.svg#Cuprum-Italic') format('svg'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-BoldItalic';
  src: url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.eot');
  src: url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.woff') format('woff'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.svg#Cuprum-BoldItalic') format('svg'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*PT Sans*/
@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/ptsans/PTSansRegular/PTSans-Regular.woff') format('woff'),
       url('../fonts/ptsans/PTSansBold/PTSans-Web-Regular.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansRegular/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Regular';
  src: url('../fonts/ptsans/PTSansRegular/PT_Sans-Web-Regular.eot');
  src: url('../fonts/ptsans/PTSansRegular/PT_Sans-Web-Regular.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansRegular/PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/ptsans/PTSansBold/PTSans-Bold.woff') format('woff'),
       url('../fonts/ptsans/PTSansBold/PTSans-Bold.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansBold/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Bold';
  src: url('../fonts/ptsans/PTSansBold/PT_Sans-Web-Bold.eot');
  src: url('../fonts/ptsans/PTSansBold/PT_Sans-Web-Bold.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansBold/PT_Sans-Web-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url('../fonts/ptsans/PTSansItalic/PTSans-Italic.woff') format('woff'),
       url('../fonts/ptsans/PTSansItalic/PTSans-Italic.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansItalic/PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Italic';
  src: url('../fonts/ptsans/PTSansItalic/PT_Sans-Web-Italic.eot');
  src: url('../fonts/ptsans/PTSansItalic/PT_Sans-Web-Italic.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansItalic/PT_Sans-Web-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-BoldItalic';
  src: url('../fonts/ptsans/PTSansBoldItalic/PTSans-BoldItalic.woff') format('woff'),
       url('../fonts/ptsans/PTSansBoldItalic/PTSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansBoldItalic/PTSans-BoldItalic.svg#PTSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-BoldItalic';
  src: url('../fonts/ptsans/PTSansBoldItalic/PT_Sans-Web-BoldItalic.eot');
  src: url('../fonts/ptsans/PTSansBoldItalic/PT_Sans-Web-BoldItalic.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansBoldItalic/PT_Sans-Web-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*А теперь стили*/
/*Строим сеточку*/
/*index.html*/
.top-header-block {
  width: auto; /*потом поправим*/
  height: auto; /*42px на самом деле*/
  background-color: #293449;

  border: 2px solid magenta;
}

.container {
  width: 940px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  border: 2px dashed yellow;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  width: 50px;
  float: left;
  margin-right: 20px;

  border: 2px dotted red;
}

.item-search {
  width: 100px;
  float: left;
  /*margin-left: 10px;*/
  border: 2px dotted red;
}

.user-block {
  width: 300px;
  float: right;
  margin-left: 10px;
  border: 2px dotted red;
}

.miscellanious-header-block {
  width: auto; /*потом уточнить*/
  height: auto; /*потом уточнить*/
  background-color: f1f5f7;

  border: 2px solid magenta;
}

.about {
  width: 250px;
  float: left;
  margin-left: 40px;
  margin-right: 20px;

  border: 2px dotted red;
}

.header-contacts {
  width: 272px;
  float: left;
  margin-right: 25px;
  border: 2px dotted red;
}

.authorisation-block {
  width: 170px;
  float: right;
  margin-left: 20px;

  border: 2px dotted red;
}

.navigation-header-block {
  width: auto; /*потом уточнить*/
  height: auto; /*потом уточнить*/
  background-color: f1f5f7;

  border: 2px solid magenta;
}

.header-main-navigation {
  background-color: #32425c;

  border: 2px dotted red;
}

.promo {
  border: 2px dotted red;
}

.promo-top {
  border: 2px dotted red;
}

.promo-material {
  width: 200px;
  float: left;
  margin-right: 20px;

  border: 2px dotted red;
}

.promo-tools {
  width: 200px;
  float: left;
  margin-right: 20px;

  border: 2px dotted red;
}

.promo-equipment {
  width: 200px;
  float: right;

  border: 2px dotted red;
}

.promo-bottom {
  border: 2px dotted red;
}

.promo .slider {
  width: 550px;
  margin-right: 20px;
  float: left;

  border: 2px dotted red;
}

.promo-discounts {
  width: 200px;
  float: right;;

  border: 2px dotted red;
}

.promo-delivery {
  width: 200px;
  float: right;

  border: 2px dotted red;
}

.popular-header {
  width: auto;
  height: auto;
  background-color: #f7f3ec;

  border: 2px solid magenta;
}

.popular-items {
  border: 2px solid magenta;
}

.item {
  width: 200px;
  float: left;
  margin-right: 20px;

  border: 2px dotted red;
}

.item:last-child {
  float: right;
  margin-right: 0;

  border: 2px dotted red;
}

.popular-brands {
  border: 2px solid magenta;
}

.popular-brand {
  width: 200px;
  height: 100px;
  float: left;
  margin-right: 20px;

  border: 2px dotted red;
}

.popular-brand:nth-child(4n) {
  float: right;
  margin-right: 0;

  border: 2px dotted red;
}

.services {
  width: auto; /*100%*/
  height: auto; /*поправить потом*/
  background-color: #f2f6f8;

  border: 2px solid magenta;
}

.services-header {
  width: 250px;

  border: 2px dotted red;
}

.features {
  width: 600px;

  border: 2px dotted red;
}

.info-contacts {
  border: 2px solid magenta;
}

.info-contacts-left {
  width: 400px;
  float: left;
  margin-right: 20px;

  border: 2px dotted red;
}

.info-contacts-right {
  width: 400px;
  float: right;

  border: 2px dotted red;
}

.footer-top {
  width: auto; /*100%*/
  height: auto; /*поправить потом*/
  background-color: #32425c;

  border: 2px solid magenta;
}

.footer-logo {
  width: 250px;
  float: left;
  margin-right: 20px;

  border: 2px dotted red;
}

.footer-main-navigation {
  width: 500px;
  float: right;

  border: 2px dotted red;
}

.address {
  width: 100px;
  float: left;
  margin-right: 20px;
  border: 2px dotted red;
}


.footer-promo-menu {
  width: 500px;
  float: right;

  border: 2px dotted red;
}

.footer-bottom {
  width: auto; /*100%*/
  height: auto; /*поправить потом*/
  background-color: #293449;

  border: 2px solid magenta;
}

.copyright {
  width: 100px;
  float: left;
  margin-right: 20px;

  border: 2px dotted red;
}

.social {
  width: 100px;
  float: left;
  margin-right: 20px;

  border: 2px dotted red;
}

.feedback {
  width: 100px;
  float: left;
  margin-right: 20px;
  
  border: 2px dotted red;
}

.developer {
  width: 500px;
  float: right;

  border: 2px dotted red;
}

/*Стили текста*/
body {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans";

  background-color: pink;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum";
  text-transform: uppercase;
}

.popular-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum";
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "Cuprum";
  text-transform: uppercase;
}
