/*Подключаем шрифты*/
/*Cuprum*/
@font-face {
  font-family: 'Cuprum-Regular';
  src: url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.eot');
  src: url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.woff') format('woff'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.svg#Cuprum-Regular') format('svg'),
       url('../fonts/cuprum/CuprumRegular/Cuprum-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Bold';
  src: url('../fonts/cuprum/CuprumBold/Cuprum-Bold.eot');
  src: url('../fonts/cuprum/CuprumBold/Cuprum-Bold.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.woff') format('woff'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.svg#Cuprum-Bold') format('svg'),
       url('../fonts/cuprum/CuprumBold/Cuprum-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-Italic';
  src: url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.eot');
  src: url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.woff') format('woff'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.svg#Cuprum-Italic') format('svg'),
       url('../fonts/cuprum/CuprumItalic/Cuprum-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum-BoldItalic';
  src: url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.eot');
  src: url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.woff2') format('woff2'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.woff') format('woff'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.ttf') format('truetype'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.svg#Cuprum-BoldItalic') format('svg'),
       url('../fonts/cuprum/CuprumBoldItalic/Cuprum-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*PT Sans*/
@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/ptsans/PTSansRegular/PTSans-Regular.woff') format('woff'),
       url('../fonts/ptsans/PTSansBold/PTSans-Web-Regular.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansRegular/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Regular';
  src: url('../fonts/ptsans/PTSansRegular/PT_Sans-Web-Regular.eot');
  src: url('../fonts/ptsans/PTSansRegular/PT_Sans-Web-Regular.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansRegular/PT_Sans-Web-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/ptsans/PTSansBold/PTSans-Bold.woff') format('woff'),
       url('../fonts/ptsans/PTSansBold/PTSans-Bold.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansBold/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Bold';
  src: url('../fonts/ptsans/PTSansBold/PT_Sans-Web-Bold.eot');
  src: url('../fonts/ptsans/PTSansBold/PT_Sans-Web-Bold.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansBold/PT_Sans-Web-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url('../fonts/ptsans/PTSansItalic/PTSans-Italic.woff') format('woff'),
       url('../fonts/ptsans/PTSansItalic/PTSans-Italic.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansItalic/PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-Italic';
  src: url('../fonts/ptsans/PTSansItalic/PT_Sans-Web-Italic.eot');
  src: url('../fonts/ptsans/PTSansItalic/PT_Sans-Web-Italic.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansItalic/PT_Sans-Web-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-BoldItalic';
  src: url('../fonts/ptsans/PTSansBoldItalic/PTSans-BoldItalic.woff') format('woff'),
       url('../fonts/ptsans/PTSansBoldItalic/PTSans-BoldItalic.ttf') format('truetype'),
       url('../fonts/ptsans/PTSansBoldItalic/PTSans-BoldItalic.svg#PTSans-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web-BoldItalic';
  src: url('../fonts/ptsans/PTSansBoldItalic/PT_Sans-Web-BoldItalic.eot');
  src: url('../fonts/ptsans/PTSansBoldItalic/PT_Sans-Web-BoldItalic.woff2') format('woff2'),
       url('../fonts/ptsans/PTSansBoldItalic/PT_Sans-Web-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*Разметочка - крупные блоки*/
body,
html {
  padding: 0;
  margin: 0;
}

/*Текстовые стили по умолчанию*/
body {
  min-width: 960px;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans";

   /*перед сдачей проекта удалить эту часть правила*/
   padding-top: 3px;
  background: #ffffff
              url('../img/technomart-index.jpg')
              no-repeat
              50% 0;
  background-size: 1200px;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum";
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  font-family: "Cuprum";
  text-transform: uppercase;
}
/*Конец текстовых стилей по умолчанию*/

header {
  min-height: 20px;
  outline: 2px dashed magenta;
  background-color: pink;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Cuprum";
}

.top-header-block {
  background-color: #293449;
}

.container {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px dotted cyan;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  width: 220px;
  padding-top: 9px;
  padding-bottom: 9px;
  display: block;
  float: left;

  font-size: 24px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.item-search {
  width: 270px;
  float: left;
  padding: 0;
  padding-left: 49px;
  box-sizing: border-box;

  position: relative;

  outline: 1px solid darkcyan;
}

.item-search:hover {
  background-color: #212a3a;
}

.item-search::before {
  width: 17px;
  height: 17px;

  position: absolute;
  top: 13px;
  left: 17px;

  content: "";
  background: transparent url("../img/icons-sprite.png") no-repeat;
  background-position: -651px -5px;
  opacity: 0.3;
}

.item-search:hover::before {
  opacity: 1;
}

.item-search:active {
  background-color: #ffffff;
}

.item-search:active::before {
  background: transparent url("../img/icons-sprite.png") no-repeat;
  background-position: -624px -5px;
}

.item-search input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border: none;

  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;

  background-color: inherit;
}

.item-search input:focus {
  color: #000000;
  background-color: #ffffff;
}

.user-block {
  width: 450px;
  float: left;
  padding: 0;
  margin: 0;

  list-style: none;
  font-size: 0;
}

.user-block li {
  display: inline-block;
  vertical-align: top;

  font-size: 17px;
  line-height: 18px;
}

.user-block a {
  display: block;
  width: 106px;

  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;

  color: inherit;
  text-decoration: none;
}

a.bookmarks {
  padding-left: 44px;
}

.bookmarks::before {
  width: 14px;
  height: 16px;

  position: absolute;
  top: 13px;
  left: 17px;

  content: "";
  background: transparent url("../img/icons-sprite.png") no-repeat;
  background-position: -85px -5px;
  opacity: 0.3;
}

a.cart {
  width: 100px;
  padding-left: 50px;
}

.cart::before {
  width: 17px;
  height: 16px;

  position: absolute;
  top: 13px;
  left: 17px;

  content: "";
  background: transparent url("../img/icons-sprite.png") no-repeat;
  background-position: -109px -5px;
  opacity: 0.3;
}

.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}

.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
}

.bookmarks:active,
.cart:active {
  color: #babbbd;
  background-color: #161d29;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

a.order {
  width: 150px;
  text-align: center;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  color: #b7c9af;
  background-color: #518534;
}

.miscellanious-header-block {
  padding-top: 45px;
  padding-bottom: 39px;
  background-color: #f1f5f7;
}

.about {
  width: 198px;
  float: left;
  padding-top: 6px;
  padding-left: 52px;
  padding-right: 50px;
  margin-right: 20px;

  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.about p {
  padding: 0;
  margin: 0;
}

.header-contacts {
  width: auto; /*300px;*/
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

.header-phone {
  width: 180px;
  padding-left: 54px;
  padding-top: 9px;
  padding-right: 30px;
  padding-bottom: 9px;
  margin: 0;
  margin-right: 30px;
  margin-bottom: 5px;
  position: relative;

  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  text-align: center;

  border: 3px solid white;
}

.header-phone p {
  padding: 0;
  margin: 0;
}

.header-phone::before {
  width: 19px;
  height: 19px;

  position: absolute;
  top: 12px;
  left: 12px;

  content: "";
  background: transparent url("../img/icons-sprite.png") no-repeat;
  background-position: -563px -5px;
}

.header-address {
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.header-address p {
  padding: 0;
  margin: 0;
}

.authorisation-block {
  width: 300px;
  float: right;
}

.auth-btn {
  display: block;
  padding: 12px 0;
  margin: 0;

  font-family: inherit;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  background-color: #ffffff;

  outline: 1px dashed red;
}

.login {
  width: auto;
  float: left;
  padding-left: 46px;
  padding-right: 25px;
  margin-left: 20px;
  position:relative;
}

.login::before {
  width: 20px;
  height: 17px;

  position: absolute;
  top: 14px;
  left: 16px;

  content: "";
  background: transparent url("../img/icons-sprite.png") no-repeat;
  background-position: -441px -5px;
}

.signin {
  width: 150px;
  float: right;
  margin-left: 10px;
  text-align: center;
}

.login:hover,
.signin:hover {
  color: #ee3643;
}

.login:hover::before {
  background-position: -471px -5px;
}

.login:active,
.signin:active {
  color: #b2b2b2;
}

.login:active::before {
  background-position: -441px -5px;
}

.profile {
  width: 193px;
  float: left;
  padding-left: 47px;
  margin-right: 0;
  position: relative;
}

.profile:active {
  color: #cacaca;
}

.profile::before {
  width: 20px;
  height: 18px;

  position: absolute;
  top: 13px;
  left: 14px;

  content: "";
  background: transparent url("../img/icons-sprite.png") no-repeat;
  background-position: -741px -5px;
}

.profile:hover::before {
  background-position: -771px -5px;
}

.profile:active::before {
  background-position: -741px -5px;
}

.logout {
  width: 60px;
  float: right;
  margin-left: 0;
}

a.logout {
  padding: 0;
}

.logout p {
  margin: 0;
  padding: 12px 0;
  padding-left: 60px;
  font-size: 0;
  position: relative;
}

.logout p::before {
  width: 21px;
  height: 17px;

  position: absolute;
  top: 14px;
  left: 29px;

  content: "";
  background: transparent url("../img/icons-sprite.png") no-repeat;
  background-position: -501px -5px;
}

.logout p:hover::before {
  background-position: -532px -5px;
}

.logout p:active::before {
    background-position: -501px -5px;
}

.navigation-header-block {
  padding-bottom: 65px;
  background-color: #f1f5f7;
}

nav.main-navigation {
    border: 1px solid transparent;
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

ul.main-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

ul.main-navigation li{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
}

.main-navigation a{
  padding: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

ul.main-navigation li:first-child {
  width: 121px;
  padding-left: 18px;
}

ul.main-navigation li:nth-child(2) {
  width: 125px;
}

ul.main-navigation li:nth-child(3) {
  width: 115px;
}

ul.main-navigation li:nth-child(4) {
  width: 100px;
}

ul.main-navigation li:nth-child(5) {
  width: 190px;
}

ul.main-navigation li:nth-child(6) {
  width: 120px;
}

ul.main-navigation li:last-child {
  width: 112px;
  padding-right: 37px;
}

ul.main-navigation li:hover {
  background-color: #293449;
}

ul.main-navigation li:active {
  color: #a1a4a8;
  background-color: #1d2739;
}

/*index.html*/
main {
  min-height: 20px;
  border: 1px solid transparent;

  outline: 2px dashed cyan;
  background-color: blue;
}

.promo {
  margin-top: 60px;
  margin-bottom: 55px;
}

.promo-card {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;

  outline: 1px dotted darkcyan;
}

.promo-material,
.promo-tools {
  float: left;
  margin-right: 20px;
}

.promo-equipment,
.promo-discounts,
.promo-delivery {
  float: right;
}

.promo-material {
  background-color: #f6b22d;
}

.promo-tools {
  background-color: #4aafde;
}

.promo-equipment {
  background-color: #cc79d1;
}

.promo-discounts {
  background-color: #85d179;
}

.promo-delivery {
  background-color: #f6b22d;
}

/*слайдер с дрелью*/
.promo .slider {
  width: 620px;
  margin-right: 20px;
  float: left;
}


.popular-header-block {
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 30px;
  margin: 0;
  background-color: #f7f3ec;
}

.popular-header-block > h2 {
  width: auto;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid transparent;

  color: #32425c;

  outline: 1 px dotted red;
}

.popular-header-block > .catalog-btn {
  width: auto;
  float: right;
  margin: 0;
}

.popular-items {
  margin: 20px 0px;
}

.item {
  width: 218px; /*вместе с границей - 220*/
  height: 316px; /*вместе с границей - 318*/
  float: left;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
}

.popular-items .item:last-child {
  float: right;
  margin-right: 0;
}

.popular-brands {
  margin-bottom: 85px;
}

.popular-brand {
  width: 218px; /*вместе с границей - 220*/
  height: 143px; /*вместе с границей - 145*/
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
}

.popular-brand:nth-child(4n+0) {
  float: right;
  margin-right: 0;
}

.services-block {
  background-color: #f2f6f8;
}

.services {
  border: 1px solid transparent;
  outline: 1px dashed darkcyan;
}

.services-header {
  width: 400px;
  margin-top: 62px;
  margin-bottom: 83px;

  outline: 1px dashed darkgrey;
}

/*слайдер с сервисами*/
.services-slider {
  width: 940px;

  outline: 1px dashed darkgrey;
}

.info-contacts {
  padding-top: 83px;
  padding-bottom: 85px;
}

.info-contacts-left {
  width: 540px;
  float: left;
  padding: 0;
  margin: 0;

  outline: 1px dashed pink;
}

.info-contacts-right {
  width: 300px;
  float: right;
  padding: 0;
  margin: 0;

  outline: 1px dashed pink;
}

.info-contacts h2 {
  margin: 0;
  padding: 0;
}

/*снова общее*/
footer {
  min-height: 20px;
  outline: 2px dashed green;
  background-color: yellow;
}

footer ul {
  margin: 0;
  padding: 0;
}

.footer-top {
  background-color: #32425c;
}

.first-row {
  padding-top: 40px;
  margin: 0;
  border: 1px solid transparent;
  outline: 1px dashed white;
}

.footer-logo {
  width: 220px;
  float: left;

  outline: 1px dashed pink;
}

.footer-main-navigation {
  width: 550px;
  float: right;

  outline: 1px dashed pink;
}

.second-row {
  padding-top: 37px;
  border: 1px solid transparent;
  outline: 1px dashed white;
}

.address {
  width: 335px;
  float: left;

  outline: 1px dashed pink;
}

.footer-promo-menu {
  width: 525px;
  float: right;

  outline: 1px dashed pink;
}

.footer-bottom {
  margin: 0;
  background-color: #293449;
}

.footer-bottom-content {
  padding-top: 38px;
  padding-bottom: 38px;
  border: 1px solid transparent;

  outline: 1px dashed white;
}

.copyright {
  width: 240px;
  float: left;
  margin-right: 139px;

  outline: 1px dashed white;
}

.social {
  width: 149px;
  float: left;
  margin-right: 110px;

  outline: 1px dashed white;
}

.feedback {
  width: 140px;
  float: left;
  margin-right: 50px;

  outline: 1px dashed white;
}

.developer {
  width: 110px;
  float: right;

  outline: 1px dashed white;
}
